import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{pascalCase name}}.css';

const {{pascalCase name}} = props => {
  return (
    <div className={'{{dashCase name}}-wrapper'}>
        {{dashCase name}} component
    </div>
  );
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
