import React from 'react';
import PropTypes from 'prop-types';
import './{{dashCase name}}.scss';

const {{pascalCase name}} = props => {
return (
    <div className={'{{dashCase name}}-wrapper'}>
        {{dashCase name}} page
    </div>
);
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};